body {
background-color: #BC8CF2;
}

h1 {
text-align: center;
font-color: #2E4C6D;
margin: 20px;
font-size: 1.5rem;
}

h2 {
color: #2C272E;
font-size: 1rem;

}

a {
text-decoration: none;
color: #544179;
font-size: 0.7rem;
}

a:hover {
color: #630000;
}
